.modal-overlay {
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.80);
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--em-small);
    width: 100%;
    max-width: 90vw;
    min-height: 75vh;
    background-color: var(--container-bg);
    border-radius: var(--large-border-radius);
    background-image: url(https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.modal-content p {
    max-width: 50%;
    font-size: 20px;
    margin-top: var(--em-large);
    text-align: center;
}

.modal-content img {
    width: 100%;
    max-width: 400px;
}

.start-browsing-button {
    padding: var(--em-small) var(--em-large);
    border-radius: var(--medium-border-radius);
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
    margin-top: var(--em-medium);

}

.modal-content span {
    position: absolute;
    border-radius: var(--medium-border-radius);

}

.upper-left {
    top: 15px;
    left: 15px;
    width: 110px;
    height: 190px;
    border-top: 15px solid var(--standard-magenta);
    border-left: 15px solid var(--standard-magenta);
}

.upper-right {
    top: 15px;
    right: 15px;
    width: 90px;
    height: 220px;
    border-top: 15px solid var(--standard-blue);
    border-right: 15px solid var(--standard-blue);
}

.lower-left {
    bottom: 15px;
    left: 15px;
    width: 110px;
    height: 190px;
    border-bottom: 15px solid var(--standard-blue);
    border-left: 15px solid var(--standard-blue);
}

.lower-right {
    bottom: 15px;
    right: 15px;
    width: 140px;
    height: 220px;
    border-bottom: 15px solid var(--standard-magenta);
    border-right: 15px solid var(--standard-magenta);
}