footer {
    border-top: var(--border-lightgrey);
    width: 100%;
    padding: var(--em-medium);
    opacity: 0.6;
}

footer img {
    width: 100%;
    max-width: 140px;
}

footer div:first-child {
    margin-top: var(--em-large);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;


}

footer li img {
    width: 100%;
    max-width: 130px;

}

footer ul {
    list-style: none;
}

footer ul li {
    text-wrap: pretty;
}