form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 2em 0;
    color: #555;
    font-family: var(--body-family);

}

label {
    width: 100%;
}

form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: var(--small-border-radius);
    box-shadow: var(--box-shadow);
    font-family: var(--body-family);


}

form textarea {
    min-height: 240px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: var(--small-border-radius);
    box-shadow: var(--box-shadow);
    font-family: var(--body-family);
    resize: vertical;

}

form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: var(--small-border-radius);
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.submit {
    background-color: #007bff;
}

.submit:hover {
    background-color: #0163cb;
}

.button-group {
    display: flex;
    gap: 0.4em;
}

.resetForm {
    background-color: rgb(183, 76, 94);
}

.resetForm:hover {
    background-color: rgb(139, 58, 71);
}

.goToPost {
    background-color: rgb(116, 197, 116);
}

.goToPost:hover {
    background-color: rgb(89, 153, 89);
}


/*  pre-page for login and register /auth/    */
#auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    height: 100%;

}

#auth div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;

}

#auth .button {
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border: none;
    border-radius: var(--small-border-radius);
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    background-color: #007bff;

}

#auth .button:hover {
    background-color: #0163cb;


}

/* register form error handling */

.error-message {
    font-size: 14px;
    display: none;
    margin-top: 0.3em;
    padding: 0.5em;
    border: 2px solid var(--red-alert);
    color: var(--red-alert);
    border-radius: var(--small-border-radius);
    background-color: rgb(223, 219, 219);
}

.error-message:not(:empty) {
    display: block
}