form {
    display: flex;
    flex-direction: column;
    gap: var(--em-medium);
    margin: 2em 0;
    color: #555;
    font-family: var(--body-family);

}

label {
    width: 100%;
}

form input {
    width: 100%;
    padding: var(--em-small);
    border: var(--border-lightgrey);
    border-radius: var(--small-border-radius);
    box-shadow: var(--box-shadow);
    font-family: var(--body-family);


}

form textarea {
    min-height: 100px;
    width: 100%;
    padding: var(--em-small);
    border: var(--border-lightgrey);
    border-radius: var(--small-border-radius);
    box-shadow: var(--box-shadow);
    font-family: var(--body-family);
    resize: none;
    transition: min-height 500ms ease;

    @media (max-width: 769px) {
        min-height: 150px;
        transition: min-height 500ms ease;

    }
}

form button {
    width: 100%;
    padding: var(--em-small);
    border: none;
    border-radius: var(--small-border-radius);
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.common-btn {
    background-color: var(--common-btn);
    transition: background-color 400ms ease;
}

.common-btn:hover {
    background-color: var(--common-btn-hov);
    transition: background-color 200ms ease;
}

.button-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.4em;
}

.delete-post {
    background-color: var(--red-alert);
}

.delete-post:hover {
    background-color: var(--red-alert-hov);
}

.reset-form {
    background-color: var(--red-alert);
}

.reset-form:hover {
    background-color: var(--red-alert-hov);
}

.goToPost {
    background-color: rgb(116, 197, 116);
}

.goToPost:hover {
    background-color: rgb(89, 153, 89);
}

.button-group button:first-child:disabled {
    background-color: grey;
    -webkit-user-select: none;
    user-select: none;
    cursor: not-allowed;
}


/*  pre-page for login and register /auth/    */
#auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--em-large);
    height: 100%;

}

#auth div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: var(--em-medium);
    height: 100%;
    width: 100%;

}

#auth .button {
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border: none;
    border-radius: var(--small-border-radius);
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    background-color: var(--common-btn);

}

#auth .button:hover {
    background-color: var(--common-btn-hov);


}

/* register form error handling */

.error-message {
    font-size: 14px;
    display: none;
    margin-top: var(--em-xsmall);
    padding: var(--em-small);
    border: 2px solid var(--red-alert);
    color: var(--red-alert);
    border-radius: var(--small-border-radius);
    background-color: rgb(223, 219, 219);
}

.error-message:not(:empty) {
    display: block
}


#visitNewPostBtn.disabled {
    background-color: grey;
}


.new-post {
    margin-top: var(--em-large);
    width: 100%;
    max-width: 40em;
}

.new-post a {
    background-color: var(--common-btn);
    color: white;
    display: block;
    text-decoration: none;
    width: 100%;
    padding: var(--em-small) var(--em-medium);
    border: none;
    border-radius: var(--small-border-radius);
    text-align: center;
    box-shadow: var(--box-shadow);

}

.new-post a:hover {
    background-color: var(--common-btn-hov);
}