header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: var(--em-small) var(--em-large);
  background-color: var(--container-bg);
  background-color: var(--container-bg);
  height: 60px;
  box-shadow: var(--box-shadow);
  z-index: 9999;
}

.max-size-header {
  margin: 0 auto;
  width: 100%;
  max-width: 65em;
  display: flex;
  justify-content: space-between;
  align-items: center;



}

nav {
  display: flex;
  align-items: center;
  gap: var(--em-xsmall);
}

nav a {
  width: 120px;
  text-decoration: none;
  color: #000;
  font-size: 18px;

  @media (max-width: 425px) {
    font-size: 14px;

  }
}

header img {
  height: 40px;
}

#logout-button {
  padding: var(--em-small) var(--em-large);
  background-color: orange;
  color: #000;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-left: var(--em-small);
}

#logout-button:hover,
#logout-button:active {
  background-color: rgb(198, 129, 0);
}

.deco-line {
  position: relative;
  width: 100px;
  text-align: center;

  @media (max-width: 425px) {
    width: 80px;

  }
}

.deco-line::before {
  content: "";
  width: 0;
  border-bottom: 2px solid black;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  transition: width 300ms ease;

}

.deco-line:hover::before {
  width: 100%;
  transition: width 300ms ease;
}

@media (max-width: 768px) {
  header {
    height: fit-content;
  }

  .max-size-header {
    flex-direction: column;
    gap: 1em;

  }

}