#posts-container {
    width: 100%;
    column-count: 3;
    gap: var(--em-large);
    margin: var(--em-large) 0;

    @media (max-width: 1024px) {
        column-count: 2;
        padding: var(--em-small);
    }

    @media (max-width: 600px) {
        column-count: 1;
    }
}

.post-article {
    break-inside: avoid;
    width: 100%;
    max-width: 340px;
    display: flex;
    flex-direction: column;
    gap: var(--em-small);
    text-decoration: none;
    color: black;
    padding: var(--em-small);
    background-color: var(--container-bg);
    border: var(--border-lightgrey);
    border-radius: var(--large-border-radius);
    transition: transform 300ms ease;
    margin-bottom: var(--em-xlarge);
    box-shadow: var(--box-shadow);

}

.post-article:hover {
    transform: scale(1.02);
    transition: transform 100ms ease;

}

.post-article h2 {
    display: flex;
    flex-wrap: wrap;
    margin: var(--em-small) 0;
    word-break: break-word;
    hyphens: auto;
}

.post-article .temp-bg {
    width: 100%;
    min-height: clamp(100px, 20vw, 160px);
    background-color: rgb(193, 193, 193);
    border-radius: var(--medium-border-radius);
    display: block;
    border: none;

}

.post-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: var(--medium-border-radius);
    border: none;
}


.intel-wrapper {
    display: flex;
    justify-content: space-between;

}

.intel-wrapper .profile-user {
    display: flex;
    align-items: center;
    gap: var(--em-small);
}

#comments-length span {
    margin-right: var(--em-small);
    font-size: 20px;

}

#comments-length span b {
    font-size: 20px;

}

.post-article .avatar {
    width: 35px;
    height: 35px;
    border-radius: var(--small-border-radius);
    object-fit: cover;
}

.post-info {
    font-size: 14px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1025px) {
        font-size: 14px;

    }
}

/* filler posts */

.filler-post {
    display: grid;
    place-content: center;
    width: 100%;
    min-width: 250px;
    height: 350px;
    background-color: var(--container-bg);
    border-radius: var(--large-border-radius);
    margin-bottom: var(--em-large);
    box-shadow: var(--box-shadow);
}

/* paginating css */

.posts-paginator {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--em-small);

}

.posts-paginator div {
    display: flex;
    align-items: center;
    width: max-content;
    gap: var(--em-small);
}

.max-page {
    text-wrap: nowrap;
}

.posts-paginator input {
    width: 55px;
    font-size: 17px;
    padding: var(--em-xsmall);
    text-align: center;
}

.posts-paginator button {
    height: 30px;
    width: 40px;
    font-size: 40px;
    display: grid;
    place-items: center;
    border: none;
    background-color: var(--container-bg);
    border: var(--border-lightgrey);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    border-radius: var(--small-border-radius);
    position: relative;

}

.posts-paginator button:active {
    background-color: rgb(184, 184, 184);


}

.posts-paginator button span {
    position: absolute;
    top: -12px;
}