#profile-page {
    margin: var(--em-large) 0;
}

.banner {
    margin-top: 60px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 38em;
    clip-path: polygon(0 0, 100% 0, 100% 92%, 78% 100%, 50% 92%, 26% 100%, 0 92%);
}

.profile-wrapper {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.537);
    width: 100%;
    max-width: 25em;
    height: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--large-border-radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--em-small);

}

#anchor-edit {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #BD00A0;
}

.profile-wrapper h1 {
    color: white;
}

.profile-wrapper img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: var(--small-border-radius);
}

.count-wrapper {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    left: 50%;
    bottom: 120px;
    transform: translateX(-50%);
    width: 100%;
    max-width: 25em;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.508);
    border-radius: var(--small-border-radius);
    color: white;



}

/*_______________________________________________ BIO SECTION*/
.bio-section {
    margin: 0 auto;
    background-color: var(--container-bg);
    position: relative;
    width: 100%;
    max-width: 40em;
    height: 200px;
    border: var(--border-lightgrey);
    border-radius: var(--medium-border-radius);
    padding: var(--em-large);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);

}

.bio {
    position: absolute;
    top: 10px;
    left: 10px;

}

/*_______________________________________________ FOLLOW BUTTON*/

#follow {
    margin: 0 auto;
    margin-bottom: var(--em-xlarge);
    width: 100%;
    max-width: 40em;

}

#follow-button {
    margin: 0 auto;
    color: white;
    font-size: 18px;
    font-weight: 900;
    width: 100%;
    padding: var(--em-medium);
    background-color: var(--common-btn);
    border-radius: var(--medium-border-radius);
    border: none;
    margin-bottom: var(--em-small);
    cursor: pointer;
}

#follow-button:hover {
    background-color: var(--common-btn-hov);
}

#follow-msg {
    background-color: #e9e0e0;
    outline: 2px solid var(--red-alert);
    color: var(--red-alert);
    display: none;
    font-weight: 600;
    bottom: -40px;
    width: 100%;
    background-color: white;
    padding: var(--em-small);
    border-radius: var(--small-border-radius);
}



/*_______________________________________________ RADIO BUTTONS SELECTOR*/

#follow-section {
    grid-column: 1 /span 2;
}

.content-sections {
    background-color: var(--container-bg);
    width: 100%;
    box-shadow: var(--box-shadow);
    padding: var(--em-medium);
    border: var(--border-lightgrey);
    border-radius: var(--medium-border-radius);

}

.radio-buttons {
    display: flex;
    gap: var(--em-small);

}

#user-posts {
    text-wrap: wrap;
    font-size: clamp(14px, 2vw, 24px);
}

.radio-buttons input {
    display: none;
}

.radio-buttons label {
    color: white;
    display: block;
    width: 100%;
    background-color: var(--common-btn);
    text-align: center;
    font-size: 20px;
    padding: var(--em-small);
    border-radius: var(--small-border-radius);
    cursor: pointer;
    transition: background-color 700ms ease;

}

.radio-buttons label:hover {
    background-color: var(--common-btn-hov);
    transition: background-color 400ms ease;

}

.radio-buttons input[type="radio"]:checked+label {
    background-color: var(--common-btn);
    background-color: #960d7a;
}



.content-section {
    place-self: center;
    width: 100%;
    grid-column: 1 /span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--em-small);
}

.content-section h3 {
    margin-top: var(--em-small);
}

/*_______________________________________________ VISIT SECTION*/

#profile-user-posts {
    margin-top: var(--em-large);
    grid-column: 1 /span 2;
    display: flex;
    flex-direction: column;
    gap: var(--em-medium);
    overflow-y: scroll;
    height: 400px;
    border: var(--border-lightgrey);
    padding: var(--em-small);
    background-color: rgb(216, 216, 216);
}

#profile-user-posts .post {
    position: relative;
    height: min-content;
    border-radius: var(--medium-border-radius);
    padding: var(--em-small);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--em-small);
    background-color: rgb(254, 254, 254);
    text-decoration: none;
    color: black;
    box-shadow: var(--box-shadow);


}

.post-btn-wrapper {
    width: fit-content;
    position: absolute;
    right: 15px;
    display: flex;
    gap: var(--em-small);

}

.post-btn-wrapper .view-post,
.post-btn-wrapper .edit-post {
    width: 30px;
    height: 30px;
    background-color: var(--common-btn);
    color: white;
    cursor: pointer;
    text-decoration: none;
    padding: 3px 5px;
    border-radius: var(--small-border-radius);
    display: grid;
    place-items: center;

}

#profile-user-posts a:hover {
    background-color: var(--common-btn-hov);
}

/*_______________________________________________ FOLLOWER AND FOLLOWING LIST*/


.flex-list {
    padding: var(--em-small);
    border: var(--border-lightgrey);
    height: 400px;
    overflow-y: scroll;
    transition: height 400ms ease;
    background-color: rgb(216, 216, 216);
}

#following-list,
#followers-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--em-small);

}

.followers-list {
    width: 100%;
}

.user-profile {
    border-radius: var(--medium-border-radius);
    padding: var(--em-xsmall);
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgb(254, 254, 254);
    cursor: pointer;
    text-decoration: none;
    color: black;
    box-shadow: var(--box-shadow);
    width: 95%;
    transition: transform 200ms ease;

}

.user-profile:hover {
    background-color: rgb(237, 229, 229);
    transform: translateX(10px);
    transition: transform 300ms ease;

}

.user-profile img {
    object-fit: cover;
    width: 35px;
    height: 35px;
    border-radius: var(--small-border-radius);
    outline: 4px solid white;

}



/*_______________________________________________ START NEW POST*/

#start-new-post {
    width: 100%;
    max-width: 80%;

}

#start-new-post a {
    border-radius: var(--medium-border-radius);
    padding: var(--em-medium);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    display: block;
    width: 100%;
    color: white;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    background-color: var(--common-btn);
    transition: background-color 700ms ease;

}

#start-new-post a:hover {
    background-color: var(--common-btn-hov);
    transition: background-color 400ms ease;

}

/*_______________________________________________ UPDATE PROFILE*/

#update-profile {
    margin-top: var(--em-xlarge);
    width: 100%;
    box-shadow: var(--box-shadow);
    padding: var(--em-medium);
    border: var(--border-lightgrey);
    border-radius: var(--medium-border-radius);
    background-color: var(--container-bg);
}

.post p {
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

#error-update-msg {
    grid-column: 1 /span 2;
    display: none;
    font-size: 14px;
    margin-top: 0.3em;
    padding: 0.5em;
    border: 2px solid var(--red-alert);
    color: var(--red-alert);
    border-radius: var(--small-border-radius);
    background-color: rgb(223, 219, 219);
}

#error-update-msg:not(:empty) {
    display: block
}

@media (max-width: 768px) {
    .banner {
        margin-top: 105px;
    }

    .post p {
        width: 95%;
    }

    .content-section {
        grid-template-columns: repeat(1, 1fr);
        transition: grid-template-columns 400ms ease;
    }

    .radio-buttons {
        flex-direction: column;

    }

}

@media (max-width: 425px) {
    #profile-user-posts .post {
        height: 60px;
        font-size: 14px;
        align-items: flex-start;
    }

    .post-btn-wrapper {
        right: 15px;
        bottom: 5px;

    }

    .flex-list {
        height: 325px;
        transition: height 400ms ease;
    }
}