#post-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#post-container section {
    border: var(--border-lightgrey);
    border-radius: var(--large-border-radius);
    padding: var(--em-medium);
    width: 100%;
    box-shadow: var(--box-shadow);
    background-color: var(--container-bg);
    transition: padding 400ms ease;

}

#post-content h1 {
    margin: var(--em-small) 0;
    word-break: normal;
    hyphens: auto;
}

#post-content img {
    border: var(--border-lightgrey);
    width: 100%;
    max-width: 50%;
    min-height: 200px;
    transition: max-width 450ms ease;
}

#post-content p {
    padding: var(--em-small);
    word-break: normal;
    hyphens: auto;

}

#post-content p:first-child {
    min-height: 150px;
    padding: var(--em-small);
    border: var(--border-lightgrey);
    border-radius: var(--small-border-radius);
    background-color: #f4efef;

}

#author-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.authorLink {
    display: flex;
    align-items: center;
    gap: 0.5em;
    background-color: #3d3d3d;
    border-radius: var(--small-border-radius);
    width: fit-content;
    padding: var(--em-small);
    color: white;
}

.authorLink img {
    object-fit: cover;
    outline: 2px solid white;
    width: 45px;
    height: 45px;
    border-radius: var(--small-border-radius);
}

.authorLink p {
    padding: var(--em-small);
}

#editorOptions {
    display: flex;
    gap: 0.5em;
}

#editorOptions a,
#editorOptions button {
    font-size: 16px;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: 100px;
    padding: var(--em-small);
    border: none;
    border-radius: var(--small-border-radius);
    background-color: var(--common-btn);

}

#editorOptions a:hover,
#editorOptions button:hover {
    background-color: var(--common-btn-hov);
    color: white;

}

#comment-section {
    width: 100%;
}

#comments-area {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.comment-wrapper {
    position: relative;
    background-color: #f4efef;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--em-medium);
    border: var(--border-lightgrey);
    border-radius: var(--medium-border-radius);
    box-shadow: var(--box-shadow);
}

.profile-commenter {
    display: flex;
    align-items: center;
    gap: 0.3em;
    padding-bottom: var(--em-small);
    border-bottom: 1px solid rgb(186, 186, 186);
}

.profile-commenter img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: var(--small-border-radius);
}

.comment {
    margin-top: var(--em-small);
}

#comments-area {
    margin-bottom: var(--em-xxlarge);
    padding: var(--em-medium);
    outline: 1px solid lightgray;
    border-radius: var(--medium-border-radius);
    background-color: var(--container-bg);
    transition: padding 400ms ease;
}

#time {
    position: absolute;
    top: 10px;
    right: 10px;
    size: 14px;
    color: #636363;
}

@media (max-width: 768px) {
    #post-content img {
        max-width: 100%;
        transition: max-width 450ms ease;
    }

    #author-section {
        flex-direction: column;
        gap: var(--em-medium);
    }

}

@media (max-width: 425px) {
    #post-container section {
        padding: var(--em-small);
        transition: padding 400ms ease;
    }

    #comments-area {
        padding: var(--em-small);
        transition: padding 400ms ease;

    }
}