@import url(_reset.css);
@import url(variables.css);
@import url(fonts.css);
@import url(home.css);
@import url(generalForms.css);
@import url(loader.css);
@import url(header.css);
@import url(singlePost.css);
@import url(profilePage.css);
@import url(firstTimeModal.css);
@import url(footer.css);

* {
    scroll-behavior: smooth;

}


body {
    background-color: var(--body-bg);
    background-image: url(https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
}

.regular-use {
    width: 100%;
    max-width: 70em;
    min-height: 100vh;
    margin: 0 auto;
    margin-top: var(--em-xxlarge);
    padding: var(--em-large);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--em-large);
}

.form-use {
    width: 100%;
    max-width: 55em;
    min-height: 100vh;
    margin: 0 auto;
    padding: var(--em-large);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-use img {
    margin-top: var(--em-large);
    width: 100%;
    max-width: 200px;
    opacity: 0.5;
}

.max-small-container {
    width: 100%;
    max-width: 30em;
    height: max-content;
    padding: var(--em-medium);
    border-radius: var(--medium-border-radius);
    background-color: var(--container-bg);
    box-shadow: var(--box-shadow);
}

.max-medium-container {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    padding: var(--em-medium);
    border-radius: var(--medium-border-radius);
    background-color: var(--container-bg);
    box-shadow: var(--box-shadow);
}

h1 img {
    width: 100%;
    max-width: 400px;
}

#social-platform {
    opacity: 0.5;

}

#cover-up {
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 99999;
    width: 100%;
    min-height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--em-small);

}

#cover-up * {
    color: white;
}

#cover-up p {
    color: white;
    font-size: 18px;
}

#cover-up-logo {
    width: 100%;
    max-width: 400px;
    background-color: rgb(234, 227, 227);
    border-radius: var(--medium-border-radius);
    padding: var(--em-medium);
}

@media (max-width: 768px) {
    footer div:first-child {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--em-xxlarge);
    }

    .regular-use {
        margin-top: var(--em-xxlarge);
        padding: var(--em-small);
    }

    .form-use {
        padding: var(--em-small);

    }

    .max-medium-container {
        padding: var(--em-small);

    }

}

@media (max-width: 425px) {

    p,
    a,
    label,
    li {
        font-size: 14px;
    }

}

.hidden {
    display: none;
    margin: 0;
    padding: 0;
}