@import url(_reset.css);
@import url(variables.css);
@import url(fonts.css);
@import url(home.css);
@import url(generalForms.css);
@import url(loader.css);
@import url(header.css);
@import url(singlePost.css);
@import url(profilePage.css);

* {
    scroll-behavior: smooth;

}


body {
    background-color: var(--body-bg);
    background-image: url(https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
}

.regular-use {
    width: 100%;
    max-width: 70em;
    min-height: 100vh;
    margin: 0 auto;
    margin-top: var(--em-xxlarge);
    padding: var(--em-large);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--em-large);
}

.form-use {
    width: 100%;
    max-width: 80em;
    min-height: 100vh;
    margin: 0 auto;
    padding: var(--em-large);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.max-small-container {
    width: 100%;
    max-width: 30em;
    height: max-content;
    padding: var(--em-medium);
    border-radius: var(--medium-border-radius);
    background-color: var(--container-bg);
    box-shadow: var(--box-shadow);
}

.max-medium-container {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    padding: var(--em-medium);
    border-radius: var(--medium-border-radius);
    background-color: var(--container-bg);
    box-shadow: var(--box-shadow);
}


footer {
    border-top: var(--border-lightgrey);
    width: 100%;
    padding: var(--em-medium);
    opacity: 0.6;
}

footer img {
    width: 100%;
    max-width: 140px;
}

footer div:first-child {
    margin-top: var(--em-large);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;


}

footer li img {
    width: 100%;
    max-width: 90px;

}

footer ul {
    list-style: none;
}

footer ul li {
    text-wrap: pretty;
}

.form-use img {
    margin-top: var(--em-large);
    width: 100%;
    max-width: 200px;
    opacity: 0.5;
}

#social-platform {
    opacity: 0.5;

}

@media (max-width: 768px) {
    footer div:first-child {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--em-xxlarge);
    }

    .regular-use {
        margin-top: 8em;
        padding: var(--em-small);
    }
}

@media (max-width: 425px) {

    p,
    a,
    label,
    li {
        font-size: 14px;
    }

}

.hidden {
    display: none;
    margin: 0;
    padding: 0;
}