:root {
    --body-bg: rgb(245, 244, 244);
    --container-bg: #f4eded;

    --small-border-radius: 5px;
    --medium-border-radius: 10px;
    --large-border-radius: 15px;
    --border-lightgrey: 1px solid rgb(186, 186, 186);
    --box-shadow: 0 0 8px #787878a7;

    --header-family: Arial, Helvetica, sans-serif;
    --body-family: Arial, Helvetica, sans-serif;

    --common-btn: #BD00A0;
    --common-btn-hov: #1F8DEE;
    --red-alert: rgb(96, 96, 96);
    --red-alert-hov: rgb(75, 75, 75);

    --standard-magenta: #BD00A0;
    --standard-blue: #1F8DEE;


    --em-xsmall: 0.3em;
    --em-small: 0.5em;
    --em-medium: 1em;
    --em-large: 2em;
    --em-xlarge: 3em;
    --em-xxlarge: 4em;


}