:root {
    --body-bg: rgb(245, 244, 244);
    --container-bg: #f4eded;

    --small-border-radius: 5px;
    --medium-border-radius: 10px;
    --large-border-radius: 15px;
    --border-lightgrey: 1px solid rgb(186, 186, 186);
    --box-shadow: 0 0 8px #787878a7;

    --header-family: Arial, Helvetica, sans-serif;
    --body-family: Arial, Helvetica, sans-serif;

    --blue-btn: #0071eb;
    --blue-btn-hov: #0163cb;
    --red-alert: rgb(181, 9, 9);
    --red-alert-hov: rgb(142, 12, 12);


    --em-xsmall: 0.3em;
    --em-small: 0.5em;
    --em-medium: 1em;
    --em-large: 2em;
    --em-xlarge: 3em;
    --em-xxlarge: 4em;


}