:root {
    --body-bg: rgb(245, 244, 244);
    --container-bg: #ede8e8;

    --small-border-radius: 5px;
    --medium-border-radius: 10px;
    --large-border-radius: 15px;
    --border-lightgrey: 1px solid rgb(186, 186, 186);
    --box-shadow: 0 0 8px #8c8c8ca7;

    --header-family: Arial, Helvetica, sans-serif;
    --body-family: Arial, Helvetica, sans-serif;

    --blue-btn: #007bff;
    --blue-btn-hov: #0163cb;
    --red-alert: rgb(181, 9, 9);
    --red-alert-hov: rgb(142, 12, 12);


    --em-xsmall: 0.3em;
    /*      var(--em-xsmall);    */
    --em-small: 0.5em;
    /*      var(--em-small);     */
    --em-medium: 1em;
    /*      var(--em-medium);    */
    --em-large: 2em;
    /*      var(--em-large);     */
    --em-xlarge: 3em;
    /*      var(--em-xlarge);    */
    --em-xxlarge: 4em;
    /*      var(--em-xxlarge);   */


}